<h2 class="sign-in-form-header">Create your account</h2>
<form {{action "createUser" on="submit"}}>
  {{input value=name type="text" class="username-input" placeholder="Enter your name ..."}}
  {{input value=username type="text" class="username-input" placeholder="Enter your username ..."}}
  {{input value=email type="email" class="username-input" placeholder="Enter your email ..."}}
  {{input value=password type="password" class="username-input" placeholder="Enter your password ..."}}

  <div class="call-to-action-options clearfix">
    <input type="submit" value="Sign up">
    <p class="forget-or-sign-up">
      {{#link-to "home.login"}}Login{{/link-to}}
    </p>
  </div>
</form>
