{{navbar-object session=session}}

<div class="user-container">
  <div class="user-header">
    <img {{bind-attr src=picture}}>
    <h4 class="user-name">{{name}}</h4>
    <p class="user-username">@{{id}}</p>

    <form>
      <input type="submit" value="Follow">
    </form>
  </div>

  <nav class="user-nav">
    {{#link-to "user.posts"}}Posts{{/link-to}}
    {{#link-to "user.followers"}}Followers{{/link-to}}
    {{#link-to "user.following"}}Following{{/link-to}}
  </nav>

  <ul class="user-list-ul">
    {{outlet}}
  </ul>
</div>
